extends ./shared/layout.pug

block auth_title
    title Change Password | Crossroads

block auth_body
    div.col-xs-12.col-md-6.col-md-offset-3
        div.text-center
            h2 Change Password
            span#error #{error}
            span#success #{success}
        form.form-horizontal(action="/api/auth/local/changePassword", method="POST")
            input(type="hidden", name="from", value=from)
            div.form-group
                label.col-md-2.col-md-offset-1.control-label(for="input-oldPassword") Old Password
                div.col-md-6
                    input.form-control(id="input-oldPassword", name="oldPassword", type="password", required)
            div.form-group
                label.col-md-2.col-md-offset-1.control-label(for="input-password") New Password
                div.col-md-6
                    input.form-control(id="input-password", name="newPassword", type="password", required)
            div.form-group
                label.col-md-2.col-md-offset-1.control-label(for="input-confirmPassword") Confirm New Password
                div.col-md-6
                    input.form-control(id="input-confirmPassword", name="newConfirmPassword", type="password", required)
            div.form-group.text-center
                div
                    button.btn.btn-success.btn-submit Submit
